/* Objectivity-Bold - 700 */
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local('Objectivity Bold'), local('Objectivity-Bold'),
		url('./files/Objectivity-Bold.woff2') format('woff2'),
		url('./files/Objectivity-Bold.woff') format('woff'),
		url('./files/Objectivity-Bold.ttf') format('truetype');
}

/* Objectivity-Medium - 500 */
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local('Objectivity Medium'), local('Objectivity-Medium'),
		url('./files/Objectivity-Medium.woff2') format('woff2'),
		url('./files/Objectivity-Medium.woff') format('woff'),
		url('./files/Objectivity-Medium.ttf') format('truetype');
}

/* Objectivity-Regular - 400 */
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local('Objectivity Regular'), local('Objectivity-Regular'),
		url('./files/Objectivity-Regular.woff2') format('woff2'),
		url('./files/Objectivity-Regular.woff') format('woff'),
		url('./files/Objectivity-Regular.ttf') format('truetype');
}

/* Objectivity-Light - 300 */
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: local('Objectivity Light'), local('Objectivity-Light'),
		url('./files/Objectivity-Light.woff2') format('woff2'),
		url('./files/Objectivity-Light.woff') format('woff'),
		url('./files/Objectivity-Light.ttf') format('truetype');
}
