{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"~components": "./components",
					"~public": "./public",
					"~lib": "./lib",
					"~context": "./context",
					"~constants": "./constants",
					"~theme": "./theme",
					"~hooks": "./hooks"
				}
			}
		],
		["emotion"]
	]
}
