{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"^~/(.+)": "./\\1",
					"^~@/(.+)": "./components/\\1"
				}
			}
		],
		["emotion"],
		["@babel/plugin-proposal-optional-chaining"]
	]
}
