{
	"presets": [
		[
			"next/babel",
			{
				"preset-react": {
					"importSource": "@theme-ui/core",
					"runtime": "automatic",
					"throwIfNamespace": false
				}
			}
		]
	],
	"plugins": [
		"@emotion"
	]
}